.HomeButton {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.HomeButton:hover {
    -fx-background-color: #808080;
}

.HomeButton:pressed {
    -fx-background-color: #0A74DA;
}

.AboutUsButton {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.signInButton {
    -fx-background-color: #0A74DA;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-padding: 10px 20px;
}

.signInButton:hover {
    -fx-background-color: #0c60b5;
}

.signInButton:pressed {
    -fx-background-color: #084a8b;
}

.titleLabel {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

.timeFilterComboBox {
    -fx-font-size: 14px;
    -fx-background-color: #fff;
    -fx-border-color: #ddd;
}

.button-base {
    -fx-background-color: #0A74DA;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-padding: 10px 20px;
}

.button-base:hover {
    -fx-background-color: #0c60b5;
}

.button-base:pressed {
    -fx-background-color: #084a8b;
}

.scroll-base {
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;
}

.button-base1 {
    -fx-background-color: #0A74DA;
    -fx-text-fill: white;
}

.button-base1:hover {
    -fx-background-color: #0c60b5;
}

.button-base1:pressed {
    -fx-background-color: #084a8b;
}

.menu-button1 {
    -fx-background-color: transparent;
    -fx-text-fill: #333;
    -fx-font-size: 14px;
    -fx-alignment: CENTER;
    -fx-padding: 10 20;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: transparent;
    -fx-border-style: solid;
}

.menu-button1:hover {
    -fx-background-color: #D9D1E6;
}

.menu-button1:pressed {
    -fx-background-color: #D9D1E6;
    -fx-font-weight: bold;
}

.menu-button1.active {
    -fx-background-color: #D9D1E6;
    -fx-font-weight: bold;
}

.button-base2 {
    -fx-background-color: #1C386C;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

.button-base2:hover {
    -fx-background-color: #172F5F;
}

.button-base2:pressed {
    -fx-background-color: #172F5F;
}

.button-base3 {
    -fx-background-color: #E8E4F4;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

.button-base3:hover {
    -fx-background-color: #DBD7E7;
}

.button-base3:pressed {
    -fx-background-color: #DBD7E7;
}