.HomeButton {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.AboutUsButton {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.signInButton {
    -fx-background-color: #0A74DA;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-padding: 10px 20px;
}

.signInButton:hover {
    -fx-background-color: #0c60b5;
}

.signInButton:pressed {
    -fx-background-color: #084a8b;
}

.titleLabel {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}

.timeFilterComboBox {
    -fx-font-size: 14px;
    -fx-background-color: #fff;
    -fx-border-color: #ddd;
}

.button-base {
    -fx-background-color: #0A74DA;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-padding: 10px 20px;
}

.button-base:hover {
    -fx-background-color: #0c60b5;
}

.button-base:pressed {
    -fx-background-color: #084a8b;
}

.label-legend {
    -fx-font-size: 18px;
    -fx-text-fill: #ffffff;
}

.label-title {
    -fx-font-size: 15px;
    -fx-text-fill: #ffffff;
}

.label-bold {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}